
<% @places.each do |place| %>
  <div class="booyah-box col-xs-10 col-xs-offset-1" >
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br /><br />
    <% if place.photos.last.present? %>
        <%= image_tag place.photos.last.picture %>
    <% end %>
    <br />
    <br />
    <p><%= place.description %></p><br />


   
<% if place.comments.present? %>   
    <div class="col-xs-10">
       	<blockquote>
	      <% if place.comments.last.humanized_rating.present? %>
	      	<b><%= place.comments.last.humanized_rating %></b> -
	      	<% end %>
	        <h3><%= place.comments.last.message %></h3>    
	       <% end %>
	    </blockquote>
  	</div>
  </div>
<% end %>



<%= will_paginate @places, renderer: BootstrapPagination::Rails, previous_label: ('<'), next_label: ('>'), inner_window: 1, outer_window: 0 %>

