<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1><%= @place.name %></h1>
  <i><%= @place.address %></i>
  <br/><br/>
  <p><%= @place.description %></p>

  <!-- Google Map -->

<% if @place.latitude.present? && @place.longitude.present? %>

    <script>

      function initMap() {
        var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?&callback=initMap">
    </script>

<div id="map"></div>

<br />

<!-- Google Map End -->

  
  <div class="pull-right">
    <% if current_user && current_user == @place.user %>
      <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
     
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Add a Photo</button>
    <% end %>
  </div>
</div>
<% end %>

<!-- Photos Display -->

</div>
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Photos</h1>
  <br />
  <% @place.photos.each do |photo| %>
    <div class="col-xs-12 col-sm-4">
        <%= image_tag photo.picture , :class => 'place-photo img-responsive' %>
        <br />
        <h4><%= photo.caption %></h4>
    </div>
  <% end %>
</div>




<!-- Comment Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a comment</h4>
      </div>
      
        <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
          <div class="modal-body">
            <%= f.input :message %>
            <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
          </div>  
              <div class="clear"></div>
              <div class="clear"></div>
              <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
      </div>
        <% end %>
    </div>
  </div>
</div>

<div class="col-xs-10 col-xs-offset-1">
  


<!--Comments Display-->

<div class="booyah-box col-xs-12">
  <h1>Reviews</h1>
  <div class="pull-right">
    <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">
      Leave Comment
    </button>
  </div>

    <% @place.comments.each do |comment| %>
        <div class="col-xs-12">
          <br />
          <div class="panel panel-info">
            <% if comment.humanized_rating.present? %>
              <div class="panel-heading">
                  <h3><b><%= comment.humanized_rating %> -
                <% end %></b></h3>
              </div>

              <div class="panel-body">
                <h3><%= comment.message %></h3>
              </div>
            
          </div>
        </div>
      <% end %>
  

<!--Photo Modal -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
          <div class="modal-body">
            <%= f.input :picture %>
            <%= f.input :caption %>
            <br />
            <%= f.submit "Add a Photo", class: 'btn btn-primary' %>
          </div>  
            
      <% end %>

    </div>
  </div>
</div>







